<center>
  <h1>Login to Game Tracker</h1>
  <div style="border: 3px solid white; width: 450px; align: center; padding: 10px;">
    <form class="" action="/login" method="post">
      <h4>Username: <input type="text" name="username" value=""></h4>
      <h4>Password: <input type="text" name="password" value=""></h4>
      <input type="submit" name="" value="Login">
    </form>
  </div>
</center>
