<center>
  <h1>Edit <%= @game.title %></h1>
  <div style="border: 3px solid white; width: 450px; align: center; padding: 10px;">
    <form class="" action="/games/<%= @game.id %>/edit" method="post">
      <h4>Title: <input type="text" name="title" value="<%= @game.title %>"></h4>
      <h4>Notes/Description: <input type="textarea" name="notes" value="<%= @game.notes %>"></h4>
      <input type="submit" name="" value="Edit Game">
    </form>
  </div>

  <h4> <a href="/login">My Games</a> // <a href="/logout">Logout</a> // <a href="/">Home</a></h4>
</center>
