<center>
  <h1>Edit <%= @game.title %></h1>
  <div style="border: 3px solid white; width: 450px; align: center; padding: 10px;">
    <form class="" action="/games/<%= @game.id %>/edit" method="post">
      <h4>Title: <input type="text" name="title" value="<%= @game.title %>"></h4>
      <h4>Notes/Description: </h4>
      <p><textarea name="notes" rows="5" cols="50"><%= @game.notes %></textarea></p>
      <input type="radio" name="rating" value="1 Star"> 1 star
      <input type="radio" name="rating" value="2 Stars"> 2 stars
      <input type="radio" name="rating" value="3 Stars"> 3 stars
      <input type="radio" name="rating" value="4 Stars"> 4 stars
      <input type="radio" name="rating" value="5 Stars"> 5 stars
      <p><input type="submit" name="" value="Edit Game"></p>
    </form>
  </div>

  <h4> <a href="/login">My Games</a> // <a href="/logout">Logout</a> // <a href="/">Home</a></h4>
</center>
