<center><h1 style="color:white">Welcome to Game Tracker! </h1></center>
<center><h2 style="color:white">Please Sign In:</h3></center>

<center>
  <h3> <a href="/signup">Sign Up</a>  // Login</h3>

</center>
