<center><h1 style="color:white"><img src="https://s-media-cache-ak0.pinimg.com/originals/96/4c/f1/964cf112c8928c7c75312f7f15e6b1e0.png" style="height:50px;"> Welcome to Game Tracker! <img src="https://s-media-cache-ak0.pinimg.com/originals/96/4c/f1/964cf112c8928c7c75312f7f15e6b1e0.png" style="height:50px;"></h1></center>
<center><h2 style="color:white">Please Sign In:</h3></center>

<center>
  <h3> <a href="/signup">Sign Up</a>  // <a href="/login">Login</a></h3>

</center>
