<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Tracker</title>
  </head>
  <body>
    <body background="http://goldwallpapers.com/uploads/posts/video-game-background/video_game_background_002.jpg">
    <%= yield %>
  </body>
</html>
